<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.mtg.screenrecorder"
    android:versionCode="1"
    android:versionName="1.0.0">

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature
        android:name="android.hardware.camera"
        />
    <uses-feature
        android:name="android.hardware.camera2"
        />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        />

    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:largeHeap="true"
        android:hardwareAccelerated="true"
        android:theme="@style/Theme.ScreenRecorderV2.NoActionBar.Overlay"
        android:usesCleartextTraffic="true">

        <activity
            android:name=".view.activity.splash.SplashActivity"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

<!--        <meta-data-->
<!--            android:name="com.google.android.gms.ads.APPLICATION_ID"-->
<!--            android:value="@string/admob_app_id" />-->

        <activity
            android:name=".view.activity.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.cameraview.CameraActivity"
            android:excludeFromRecents="true"
            android:launchMode="singleInstance"
            android:theme="@style/Theme_Transparent" />
        <activity
            android:name=".view.activity.guide.GuidePermissionOverlayActivity"
            android:theme="@style/Theme_Guide" />
        <activity
            android:name=".view.activity.VideoTrimActivity" />

        <activity
            android:name=".view.activity.record.RecordActivity"
            android:excludeFromRecents="true"
            android:launchMode="singleInstance"
            android:theme="@style/Theme_Transparent" />

        <activity
            android:name=".view.activity.screenshot.ScreenShotActivity"
            android:excludeFromRecents="true"
            android:launchMode="singleInstance"
            android:theme="@style/Theme_Transparent" />

        <activity
            android:name=".view.activity.tools.ToolsActivity"
            android:excludeFromRecents="true"
            android:launchMode="singleInstance"
            android:theme="@style/Theme_Transparent" />

        <service
            android:name=".service.MyService"
            android:enabled="true"
            android:exported="false"
            android:foregroundServiceType="mediaProjection"
            tools:targetApi="q" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.mtg.screenrecorder.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>